<div id="wrapper">
        <button type="button" class="btn btn-lg custom-btn"(click)="showModal()">
            <i class="fa fa-bars"></i>
        </button>
        <div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
             class="modal">
                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper">
                    <ul class="nav sidebar-nav">
                        <li class="sidebar-brand">
                            <a routerLink="/pacientes-lista">FapApp</a>
                        </li>
                        <li>
                            <a routerLink="/pacientes-lista">Lista de Pacientes</a>
                        </li>
                        <li>
                            <a routerLink="/paciente-novo">Adicionar Paciente</a>
                        </li>
                        <li>
                            <a href="#">Perfil</a>
                        </li>
                        <li>
                            <a href="#">Sobre</a>
                        </li>
                        <li class="logout-sidebar">
                            <a href="#" (click)="logout()">Sair</a>
                        </li>
                    </ul>   
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>     
                </nav>
        </div>
            <!-- Sidebar -->
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




            <!-- 
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Adicionar<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Escolha a Opção</li>
                    <li><a routerLink="/paciente-novo">Paciente</a></li>
                </ul>
                </li>
            -->





            <!-- <button type="button" class="btn btn-lg custom-btn" data-toggle="offcanvas">
            <i class="fa fa-bars"></i>
        </button> 
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a routerLink="/pacientes-lista">FapApp</a>
            </li>
            <li>
                <a routerLink="/pacientes-lista">Lista de Pacientes</a>
            </li>
            <li>
                <a routerLink="/paciente-novo">Adicionar Paciente</a>
            </li>
            <li>
                <a href="#">Perfil</a>
            </li>
            <li>
                <a href="#">Sobre</a>
            </li>
            <li class="logout-sidebar">
                <a  href="#">Sair</a>
            </li>
        </ul>        
    </nav>
    -->